.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overflow-ellipsis {
  word-wrap: break-word;
}

.bingo-card {
  background: #f8f4e3;
}

.selected-card {
  background: #ff8966;
}

@media only screen and (min-width: 300px) {
  .bingo-card,
  .selected-card {
    width: 60px;
    height: 120px;
    font-size: x-small;
  }
}

@media only screen and (min-width: 360px) {
  .bingo-card,
  .selected-card {
    width: 70px;
    height: 120px;
    font-size: x-small;
  }
}

@media only screen and (min-width: 420px) {
  .bingo-card,
  .selected-card {
    width: 80px;
    height: 120px;
    font-size: x-small;
  }
}

@media only screen and (min-width: 480px) {
  .bingo-card,
  .selected-card {
    width: 85px;
    height: 120px;
    font-size: x-small;
  }
}

@media only screen and (min-width: 490px) {
  .bingo-card,
  .selected-card {
    width: 90px;
    height: 120px;
    font-size: x-small;
  }
}

@media only screen and (min-width: 540px) {
  .bingo-card,
  .selected-card {
    width: 100px;
    height: 120px;
    font-size: x-small;
  }
}

@media only screen and (min-width: 550px) {
  .bingo-card,
  .selected-card {
    width: 110px;
    height: 130px;
    font-size: small;
  }
}

@media only screen and (min-width: 650px) {
  .bingo-card,
  .selected-card {
    width: 130px;
    height: 110px;
    font-size: small;
  }
}

@media only screen and (min-width: 768px) {
  .bingo-card,
  .selected-card {
    width: 150px;
    height: 110px;
    font-size: small;
  }
}

@media only screen and (min-width: 900px) {
  .bingo-card,
  .selected-card {
    width: 180px;
    height: 110px;
    font-size: small;
  }
}

@media only screen and (min-width: 1050px) {
  .bingo-card,
  .selected-card {
    width: 190px;
    height: 110px;
    font-size: small;
  }
}

@media only screen and (min-width: 1100px) {
  .bingo-card,
  .selected-card {
    width: 210px;
    height: 100px;
    font-size: small;
  }
}

@media only screen and (min-width: 1250px) {
  .bingo-card,
  .selected-card {
    width: 250px;
    height: 100px;
    font-size: small;
  }
}

@media only screen and (min-width: 1400px) {
  .bingo-card,
  .selected-card {
    width: 250px;
    height: 100px;
    font-size: small;
  }
}
